html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f4f7f9;
    color: #0A0F0D;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
    color: dodgerblue;
    text-decoration: none;
}
.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}