.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    width: 576px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 5px;
    flex-grow: 1;
}
.footer {
    font-size: 12px;
    width: 100%;
    color: #151515;
    text-align: center;
    padding-bottom: 2px;
    padding: 10px 0 20px 0;
    flex-shrink: 0;
}
.title {
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.title_text {
    font-size: 42px;
    font-weight: 700;
    color: #0580c5;
    text-align: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subtitle {
    background-color: #0580c5;
    width: 280px;
    height: 22px;
    margin: -20px auto 20px auto;
    mask-image: url('/subtitle.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/subtitle.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    cursor: pointer;
}
.introduction {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.levelCounter {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    padding: 0 10px 2px 10px;
    margin-bottom: 10px;
    margin-bottom: 1px;
}
.playAgainButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 700;
    color: #fff;
    background-color: #0580c5;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
.playAgainButton:hover {
    background-color: #04669c;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.playAgainIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: #ffffff;
    mask-image: url('/reload.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/reload.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}