.location_center_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.location_inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.location {
    font-size: 17px;
    font-weight: bold;
}