.reload_button {
    margin-left: auto;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.reload_button:hover {
    cursor: pointer;
    transform: scale(1.08);
}
.reloads_left {
    font-size: 12px;
    font-weight: bold;
    right: 1px;
    bottom: 1px;
}