.rulebox {
    border-radius: 8px;
    text-align: left;
    margin: 16px auto;
    overflow: hidden;
    font-size: 17px;
    background-color: #ffecec;
    border: 1px solid #ff0000;
    box-shadow: 2px 2px 5px 2px rgba(255, 0, 0, .12);
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rulebox:hover {
    transform: translateY(-2px);
}
.rulebox-top {
    padding: 5px 16px 8px 8px;
    background-color: #ffc7c7;
    color: #a11a2c;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.5s;
}
.rulebox-desc {
    padding: 11px 17px 15px 11px;
}
.rulebox.rule-correct {
    background-color: #e3ffe3;
    border: 1px solid #267b30;
    box-shadow: 3px 3px 5px 2px rgba(60, 155, 71, .2);
}
.rulebox-top.rule-correct {
    background-color: #aef3ae;
    color: #32621a;
}
.rule-icon {
    height: 19px;
    left: -1px;
    pointer-events: none;
    position: relative;
    top: 3px;
    width: 19px;
    display: inline-block;
    margin-right: 5px;
}