.inlineWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}
.colorBlock {
    flex-grow: 1;
    height: 80px; 
    border: 1px solid #000;
    border-radius: 8px;
}